@namespace Annium.Blazor.Charts.Components

<div class="@Class">
    <div onclick="@HandleZoomIn" class="@Styles.Button">+</div>
    <div onclick="@HandleZoomOut" class="@Styles.Button">-</div>
</div>