@using Demo.Blazor.Interop.Components.Navigation
@namespace Demo.Blazor.Interop.Pages.Element

<Navigation />

<div @ref="@_container" class="@Styles.Container">
    <div @ref="@_block" class="@Styles.Block">
        Input: <input @ref="_input" placeholder="input" />
    </div>
    <div @ref="@_eventsBlock" class="@Styles.Block">
        Events block
    </div>
</div>