@namespace Demo.Blazor.Interop.Components.Navigation

<div class="@Styles.Navigation">
    <a href="@Routing.Canvas.Link()" class="@Styles.Link">Canvas</a>
    <a href="@Routing.Element.Link()" class="@Styles.Link">Element</a>
</div>